Repository ABChaeeun/Algorithm-everyday, pull requests merged in 2022-10, with the labels that each got.

#1 [SWEA] 22-10-06 (N줄 덧셈)
  chaeeun/SWEA/D1/N줄덧셈.py
Labels: chaeeun

#3 [BOJ] 연속합(1912/silver2)
  hyesu/문자열/1912.py
Labels: hyesu🌊

#4 [SWEA] 22-10-07 (서랍의 비밀번호)
  chaeeun/SWEA/D1/서랍의비밀번호.py
  chaeeun/sample.py
Labels: chaeeun

#10 [BOJ] 22-10-09 (파도반수열/실버3)
  hyesu/DP/9461.py
Labels: hyesu🌊

#12 [SWEA/D1] 22-10-10 (더블더블)
  chaeeun/SWEA/D1/더블더블.py
Labels: chaeeun

#13 [BOJ] 22-10-11 (1로만들기/실버3)
  hyesu/DP/1463.py
Labels: hyesu🌊

#14 [SWEA/D1] 22-10-11 (아주 간단한 계산기)
  chaeeun/SWEA/D1/아주간단한계산기.py
Labels: chaeeun

#15 [BOJ] 22-10-11 (가장 긴 증가하는 부분 수열/실버2)
  hyesu/DP/11053.py
Labels: hyesu🌊

#16 [BOJ/실버2] 22-10-11 (가장 큰 증가 부분 수열)
  hyesu/DP/11053.py
  hyesu/DP/11055.py
Labels: hyesu🌊

#17 [BOJ/실버2] 22-10-12 (가장 긴 감소하는 부분 순열)
  hyesu/DP/11722.py
Labels: hyesu🌊

#19 [SWEA/D2] 22-10-13 (백만장자프로젝트)
  chaeeun/SWEA/D2/sample.py/백만장자프로젝트.py
Labels: chaeeun

#20 [BOJ/골드5] 22-10-13 (평범한 배낭)
  hyesu/DP/12865.py
Labels: hyesu🌊

#24 [BOJ/실버1] 22-10-14 (RGB거리)
  hyesu/DP/1149.py
Labels: hyesu🌊

#26 [SWEA] 22-10-13 (달팽이 숫자/D2)
  chaeeun/SWEA/D2/sample.py/달팽이숫자.py
Labels: chaeeun

#28 [BOJ/실버1] 22-10-15 (쉬운 계단 수)
  hyesu/DP/10844.py
Labels: hyesu🌊

#34 [SWEA] 22-10-16 (최빈수 구하기/D2)
  chaeeun/SWEA/D2/최빈수구하기.py
Labels: chaeeun

#36 [BOJ/실버1] 22-10-16 (오르막수)
  hyesu/DP/11057.py
Labels: hyesu🌊

#39 [SWEA] 22-10-17 (파스칼의 삼각형/D2)
  chaeeun/SWEA/D2/파스칼의삼각형.py
Labels: chaeeun

#40 [BOJ/골드5] 22-10-17 (내려가기)
  hyesu/DP/2096.py
Labels: hyesu🌊

#41 [BOJ/실버3] 22-10-17 (BOJ)
  hyesu/DP/11051.py
Labels: hyesu🌊

#43 [Boj/골4] 22-10-17 (전화번호 목록)
  chaeyeong/문자열/5052.cpp
Labels: chaeyeong🍀

#44 [2293] 동전 (BOJ/골드5)
  hyesu/DP/2293.py
Labels: hyesu🌊

#45 [SWEA] 22-10-18 (시각덧셈/D2)
  chaeeun/SWEA/D2/시각덧셈.py
Labels: chaeeun

#48 [BOJ/실버3] 22-10-19 (2xn 타일링2)
  hyesu/DP/11727.py
Labels: hyesu🌊

#50 [BOJ/실1] 22-10-19 (포도주 시식)
  chaeyeong/DP/2156.cpp
Labels: chaeyeong🍀

#51 [BOJ] 22-10-20 (피보나치 수4/실버5)
  hyesu/DP/10826.py
  hyesu/sample.py
Labels: hyesu🌊

#52 [SWEA] 22-10-20 (지그재그숫자/D2)
  chaeeun/SWEA/D2/지그재그숫자.py
Labels: chaeeun

#55 [BOJ] 22-10-21 (백대열/실5)
  chaeeun/BOJ/문자열/백대열.py
Labels: chaeeun

#57 [Boj/실2] 22-10-21 (가장 긴 증가하는 부분 수열)
  chaeyeong/DP/11053.cpp
Labels: chaeyeong🍀

#59 [SWEA] 22-10-22 (숫자를 정렬하자/D2)
  chaeeun/SWEA/D2/숫자를정렬하자.py
Labels: chaeeun

#60 [Boj/골3] 22-10-22 (내리막 길)
  chaeyeong/DP/1520.cpp
Labels: chaeyeong🍀

#62 [BOJ] 22-10-23 (이동하기/실버2)
  hyesu/DP/11048.py
Labels: hyesu🌊

#63 [SWEA] 22-10-23 (조교의 성적 매기기/D2)
  chaeeun/SWEA/D2/조교의성적매기기.py
Labels: chaeeun

#64 [Boj/브3] 22-10-23 (최소, 최대)
  chaeyeong/연결리스트/10818.cpp
Labels: chaeyeong🍀

#66 [SWEA] 22-10-24 (간단한 소인수분해/D2)
  chaeeun/SWEA/D2/간단한소인수분해.py
Labels: chaeeun

#69 [BOJ] 22-10-24 (점프점프/실버2)
  hyesu/DP/11060.py
Labels: hyesu🌊

#70 [Boj/브3] 22-10-25 (나는 요리사다)
  chaeyeong/연결리스트/2953.cpp
Labels: chaeyeong🍀

#71 [SWEA] 22-10-25 (쉬운 거스름돈/D2)
  chaeeun/SWEA/D2/쉬운거스릅돈.py
Labels: chaeeun

#72 [BOJ] 22-10-26 (안전 영역)
  minjung/백준/2468.py
  minjung/백준/tempCodeRunnerFile.py
Labels: minjung

#73 [BOJ] 22-10-26 (가장 긴 증가하는 부분 수열/실2)
  chaeeun/BOJ/DP/가장긴증가하는부분수열.py
Labels: chaeeun

#75 [Boj/실4] 22-10-27 (스택)
  chaeyeong/스택/10828.cpp
Labels: chaeyeong🍀

#76 [BOJ] 22-10-27 (포도주 시식/실버1)
  chaeeun/BOJ/DP/포도주시식.py
Labels: chaeeun

#77 [BOJ] 22-10-28 (다리놓기/실버5)
  hyesu/DP/1010.py
Labels: hyesu🌊

#78 [BOJ] 22-10-27 (숫자 카드)
  minjung/백준/DFS-BFS/10026.py
  minjung/백준/DFS-BFS/1012.py
  minjung/백준/DFS-BFS/1260.py
  minjung/백준/DFS-BFS/1389.py
  minjung/백준/DFS-BFS/14502.py
  minjung/백준/DFS-BFS/14888.py
  minjung/백준/DFS-BFS/14889.py
  minjung/백준/DFS-BFS/16236.py
  minjung/백준/DFS-BFS/2178.py
  minjung/백준/DFS-BFS/2206.py
  minjung/백준/DFS-BFS/2468.py
  minjung/백준/DFS-BFS/2583.py
  minjung/백준/DFS-BFS/2667.py
  minjung/백준/DFS-BFS/4936.py
  minjung/백준/DFS-BFS/7562.py
  minjung/백준/DFS-BFS/7576.py
  minjung/백준/자료구조/10815.py
Labels: minjung🧚🏻

#79 Chaeeun
  chaeeun/SWEA/D3/조별과제.py
  chaeeun/SWEA/D3/평범한숫자.py
Labels: chaeeun

#80 [BOJ] 22-10-28 (숫자 카드 2)
  minjung/백준/자료구조/10816.py
Labels: minjung🧚🏻

#81 [BOJ] 22-10-29 (파스칼의 삼각형/실버5)
  hyesu/DP/16359.py
Labels: hyesu🌊

#82 [BOJ] 22-10-28 (촌수계산)
  minjung/백준/DFS-BFS/2644.py
Labels: minjung🧚🏻

#83 [Boj/실4] 22-10-29 (큐)
  chaeyeong/큐/10845.cpp
Labels: chaeyeong🍀

#84 [BOJ] 22-10-29 (오큰수)
  minjung/백준/자료구조/17298.py
Labels: minjung🧚🏻

#85 [BOJ] 22-10-29 (큐/실버4)
  chaeeun/BOJ/Queue/큐.py
Labels: chaeeun

#88 [BOJ] 22-10-30 (스택/실버4)
  chaeeun/BOJ/스택/스택.py
Labels: chaeeun

#89 [BOJ] 22-10-30 (수찾기)
  minjung/백준/이분탐색/1920.py
  minjung/백준/이분탐색/tempCodeRunnerFile.py
Labels: minjung🧚🏻

#90 [BOJ] 22-10-30 (토마토)
  minjung/백준/DFS-BFS/7569.py
Labels: minjung🧚🏻

#91 [BOJ] 22-10-30 (중복 뺴고 정렬하기/실버5)
  hyesu/정렬/10876.Py
Labels: hyesu🌊

#94 [BOJ] 22-10-31 (배열합치기/실버5)
  hyesu/정렬/11728.py
Labels: hyesu🌊
