Repository ABChaeeun/Algorithm-everyday, pull requests merged in 2022-11, with the labels that each got.

#97 [BOJ] 22-11-02 (K번쨰 수/실버5)
  hyesu/정렬/11004.py
Labels: hyesu🌊

#98 [BOJ] 22-11-02 (부분수열의 합/실버2)
  chaeeun/BOJ/완전탐색/부분수열의합.py
Labels: chaeeun

#101 [BOJ] 22-11-03 (영화감독 숌/실버5)
  chaeeun/BOJ/브루트포스/영화감독숌.py
Labels: chaeeun

#103 [BOJ] 22-11-03 (나무 자르기)
  minjung/백준/이분탐색/2805.py
  minjung/백준/이분탐색/tempCodeRunnerFile.py
Labels: minjung🧚🏻

#104 [SWEA] 22-11-04 (패턴 마디의 길이/D2)
  chaeeun/SWEA/D2/패턴마디의길이.py
Labels: chaeeun

#105 [BOJ] 22-11-04 (공유기 설치/Gold4)
  minjung/백준/이분탐색/2110.py
Labels: minjung🧚🏻

#106 [BOJ] 22-11-04 (숨바꼭질/Silver1)
  minjung/백준/DFS-BFS/1697.py
Labels: minjung🧚🏻

#109 [BOJ] 22-11-04 (카드2/실4)
  chaeyeong/큐/2164.cpp
Labels: chaeyeong🍀

#110 [BOJ] 22-11-04 (수 정렬하기4/실버5)
  hyesu/정렬/11931.py
Labels: hyesu🌊

#112 [2001] 파리퇴치
  chaeeun/SWEA/D2/파리퇴치.py
Labels: chaeeun🍒

#114 [BOJ] 22-11-05 (k번째 수/Gold3)
  minjung/백준/이분탐색/1300.py
Labels: minjung🧚🏻

#115 [1989] 초심자의 회문 검사
  chaeeun/SWEA/D2/초심자의회문검사.py
Labels: chaeeun🍒

#118 [BOJ] 22-11-06 (단어 정렬/실버5)
  hyesu/정렬/1181.py
Labels: hyesu🌊

#120 [SWEA] 22-11-07 (일요일/D3)
  chaeeun/SWEA/D3/일요일.py
Labels: chaeeun🍒

#121 [BOJ] 22-11-07 (아기 상어/Gold3)
  minjung/백준/DFS-BFS/16236.py
Labels: minjung🧚🏻

#123 [Boj] 22-11-07 (숨바꼭질/실1)
  chaeyeong/BFS/1697.cpp
Labels: chaeyeong🍀

#126 [15230] 알파벳 공부
  chaeeun/SWEA/D3/알파벳공부.py
Labels: chaeeun🍒

#127 [Boj] 22-11-08 (미로 탐색/실1)
  chaeyeong/BFS/2178.cpp
Labels: chaeyeong🍀

#128 [BOJ] 22-11-08 (2252/Gold3)
  minjung/백준/DFS-BFS/2252.py
Labels: minjung🧚🏻

#130 [BOJ] 22-11-09 (2275/Bronze1)
  minjung/백준/다이나믹 프로그래밍/2775.py
  minjung/백준/다이나믹 프로그래밍/tempCodeRunnerFile.py
Labels: minjung🧚🏻

#132 [BOJ] 22-11-09 (안테나/실버3)
  hyesu/그리디/18310.py
Labels: hyesu🌊

#135 [SWEA] 22-11-10 (24시간/D3)
  chaeeun/SWEA/D3/24시간.py
Labels: chaeeun🍒

#136 [BOJ] 22-11-10 (Maximum Subarray/실버4)
  hyesu/DP/10211.py
Labels: hyesu🌊

#137 [SWEA] 22-11-11 (숫자 조작/D3)
  chaeeun/SWEA/D3/숫자조작.py
Labels: chaeeun🍒

#138 [BOJ] 22-11-11 (쉬운계단 수/Silver1)
  minjung/백준/다이나믹 프로그래밍/10844.py
Labels: minjung🧚🏻

#141 [BOJ] 22-11-11 (이장님 초대/실버5)
  hyesu/그리디/9237.py
Labels: hyesu🌊

#142 [SWEA] 22-11-12 (간단한 압축풀기/D3)
  chaeeun/SWEA/D3/간단한압축풀기.py
Labels: chaeeun🍒

#145 [BOJ] 22-11-12 (파도반 수열/Silver3)
  minjung/백준/다이나믹 프로그래밍/9461.py
Labels: minjung🧚🏻

#146 [Boj] 22-11-12 (적록색약/골5)
  chaeyeong/BFS/10026.cpp
Labels: chaeyeong🍀

#147 [BOJ] 22-11-13 (포도주 시식/Silver1)
  minjung/백준/다이나믹 프로그래밍/2156.py
Labels: minjung🧚🏻

#148 [SWEA] 22-11-13 (외로운 문자/D3)
  chaeeun/SWEA/D3/외로운문자.py
Labels: chaeeun🍒

#150 [10804] 문자열의 거울상
  chaeeun/SWEA/D3/문자열의거울상.py
Labels: chaeeun🍒

#152 [BOJ] 22-11-14 (퇴사/Silver3)
  minjung/백준/다이나믹 프로그래밍/14501.py
Labels: minjung🧚🏻

#153 [Boj] 22-11-14 (불!/골4)
  chaeyeong/BFS/4178.cpp
Labels: chaeyeong🍀

#154 [BOJ] 22-11-14 (좌표 정렬하기2/실버5)
  hyesu/정렬/11651.py
Labels: hyesu🌊

#156 [SWEA] 22-11-15 (sum/D3)
  chaeeun/SWEA/D3/sum.py
Labels: chaeeun🍒

#158 [BOJ] 22-11-15 (다리 놓기/Silver5)
  minjung/백준/다이나믹 프로그래밍/1010.py
Labels: minjung🧚🏻

#159 [5431] 민석이의 과제 체크하기
  chaeeun/SWEA/D3/민석이의과제체크하기.py
Labels: chaeeun🍒

#161 [Boj] 22-11-16 (유기농 배추/실2)
  chaeyeong/BFS/1012.cpp
Labels: chaeyeong🍀

#163 [SWEA] 22-11-17 (부분 수열의 합/D3)
  chaeeun/SWEA/D3/부분수열의합.py
Labels: chaeeun🍒

#165 [BOJ] 22-11-18 (카드 구매하기/Silver1)
  minjung/백준/다이나믹 프로그래밍/11052.py
Labels: minjung🧚🏻

#166 [SWEA] 22-11-18 (거듭 제곱/D3)
  chaeeun/SWEA/D3/거듭제곱.py
Labels: chaeeun🍒

#167 [BOJ] 22-11-18 (세 수/BOJ)
  minjung/백준/정렬/10817.py
Labels: minjung🧚🏻

#168 [4299] 태혁이의 사랑은 타이밍
  chaeeun/SWEA/D3/태혁이의사랑은타이밍.py
Labels: chaeeun🍒

#170 [SWEA] 22-11-20 (String/D3)
  chaeeun/SWEA/D3/String.py
Labels: chaeeun🍒

#172 [Programmers] 22-11-21 (게임 맵 최단거리/Level2)
  minjung/백준/tempCodeRunnerFile.py
  minjung/프로그래머스/게임맵최단거리.py
Labels: minjung🧚🏻

#173 [Programmers] 22- 11-22 (카펫)
  minjung/프로그래머스/완전탐색/카펫.py
Labels: minjung🧚🏻

#174 [Programmers] 22-11-22 (정수삼각형)
  minjung/프로그래머스/다이나믹프로그래밍/정수삼각형.py
Labels: minjung🧚🏻

#175 [Programmers] 22-11-22 (신규 아이디 추천/Lv1)
  chaeeun/KAKAO/신규아이디추천.py
Labels: chaeeun🍒

#177 [BOJ] 22-11-24 (스티커)
  minjung/백준/다이나믹 프로그래밍/9465.py
  minjung/프로그래머스/완전탐색/카펫.py
Labels: minjung🧚🏻

#178 [Programmers] 22-11-24 (숫자 문자열과 영단어/Lv1)
  chaeeun/Programmers/level1/숫자문자열과영단어.py
  chaeeun/Programmers/level1/신규아이디추천.py
Labels: chaeeun🍒

#179 [Programmers] 22-11-25 (성격 유형 검사하기/Lv1)
  chaeeun/Programmers/level1/성격유형검사하기.py
Labels: chaeeun🍒

#180 [BOJ] 22-11-25 (타일 채우기/Gold4)
  minjung/백준/다이나믹 프로그래밍/2133.py
Labels: minjung🧚🏻

#182 [BOJ] 22-11-26 (이동하기/Silver2)
  minjung/백준/다이나믹 프로그래밍/11048.py
Labels: minjung🧚🏻

#183 [BOJ] 22-11-27 (전깃줄/Gold5)
  minjung/백준/다이나믹 프로그래밍/2565.py
Labels: minjung🧚🏻

#184 [72413] 합승 택시 요금
  chaeeun/Programmers/Lv3/합승택시요금.py
Labels: chaeeun🍒

#185 [BOJ] 22-11-28 (수 정렬하기3/Bronze5)
  chaeeun/BOJ/정렬/수정렬하기3.py
Labels: chaeeun🍒

#186 [BOJ] 22-11-29 (분해합/Gold5)
  minjung/백준/다이나믹 프로그래밍/2225.py
Labels: minjung🧚🏻

#188 [17294] 귀여운 수~ε٩(๑> ₃ <)۶з
  chaeeun/BOJ/수학/귀여운수.py
Labels: chaeeun🍒
