Repository ABChaeeun/Algorithm-everyday, pull requests merged in 2023-01, with the labels that each got.

#227 [10942] 팰린드롬? (BOJ/Gold4)
  minjung/백준/자료구조/10942.py
Labels: minjung🧚🏻

#228 [BOJ] 23-01-01 (평범한 베낭/Gold5)
  chaeyeong/[문제집]단기간성장/boj12865.cpp
Labels: chaeyeong🍀

#229 [Programmers] 23-01-01 (숫자의 표현/Lv2)
  chaeeun/Programmers/Lv2/숫자의표현.py
Labels: chaeeun🍒

#230 [BOJ] 23-01-02 (맥주 마시면서 걸어가기/Gold5)
  minjung/백준/DFS-BFS/9205.py
Labels: minjung🧚🏻

#231 [12903] 가운데 글자 가져오기
  chaeeun/Programmers/Lv1/가운데글자가져오기.py
Labels: chaeeun🍒

#232 [boj] 23-01-02 (가운데를 말해요/골2)
  chaeyeong/[문제집]단기간성장/boj1655.cpp
Labels: chaeyeong🍀

#233 [BOJ] 23-01-01 (단어수학/골드4), 23-01-02 (유기농배추/실버2)
  hyesu/그래프탐색/1012.py
  hyesu/그리디/1339.py
  hyesu/연습문제/최댓값과 최솟값.py
Labels: hyesu🌊

#234 [4963] 23-01-03 (섬의 개수/실버2)
  hyesu/그래프탐색/4963.py
Labels: hyesu🌊

#235 [2667] 단지번호붙이기
  chaeeun/BOJ/그래프/단지번호붙이기.py
Labels: chaeeun🍒

#236 [BOJ] 23-01-04 (섬의 개수/Silver1)
  chaeeun/BOJ/그래프/섬의개수.py
Labels: chaeeun🍒

#237 [BOJ] 23-01-05 (소트인사이드/Silver5)
  chaeeun/BOJ/정렬/소트인사이드.py
Labels: chaeeun🍒

#238 [BOJ] 23-01-15
  minjung/백준/다이나믹 프로그래밍/11066.py
  minjung/백준/정렬/10814.py
  minjung/백준/정렬/11931.py
  minjung/백준/정렬/2757.py
Labels: minjung🧚🏻

#239 [boj] 22-1-05 (두 수의 합/실3)
  chaeyeong/3273.cpp
Labels: chaeyeong🍀

#240 [BOJ] 23-01-06 (파일 합치기/Gold3)
  minjung/백준/다이나믹 프로그래밍/11066.py
  minjung/백준/다이나믹 프로그래밍/tempCodeRunnerFile.py
Labels: minjung🧚🏻

#241 [BOJ] 수 정렬하기 2
  chaeeun/BOJ/정렬/수정렬하기2.py
Labels: chaeeun🍒

#242 [BOJ] 23-01-07 (수 정렬하기 4/Silver5)
  chaeeun/BOJ/정렬/수정렬하기4.py
Labels: chaeeun🍒

#244 [Programmers] 23-01-08 (나누어 떨어지는 숫자배열/Lv1)
  chaeeun/Programmers/Lv1/나누어떨어지는숫자배열.py
Labels: chaeeun🍒

#245 [BOJ] 23-01-09
  minjung/백준/정렬/10610.py
  minjung/백준/정렬/1427.py
  minjung/백준/정렬/2750.py
Labels: minjung🧚🏻

#246 [Programmers] 23-01-09 (없는 숫자 더하기/Lv1)
  chaeeun/Programmers/Lv1/없는숫자더하기.py
Labels: chaeeun🍒

#248 [BOJ] 23-01-11 (알파벳/Gold4)
  chaeeun/BOJ/그래프/알파벳.py
Labels: chaeeun🍒

#249 [17608] 막대기
  chaeeun/BOJ/스택/막대기.py
Labels: chaeeun🍒

#250 [Programmers] 23-01-13 (문자열 내림차순으로 배치하기/Lv1)
  chaeeun/Programmers/Lv1/문자열내림차순으로배치하기.py
Labels: chaeeun🍒

#251 [Programmers] 23-01-14 (음양 더하기/Lv1)
  chaeeun/Programmers/Lv1/음양더하기.py
Labels: chaeeun🍒

#252 [BOJ] 23-01-15 (내적/Lv1)
  chaeeun/Programmers/Lv1/내적.py
Labels: chaeeun🍒

#253 [BOJ] 23-01-16 (회전하는 큐/Silver4)
  chaeeun/BOJ/덱/회전하는큐.py
Labels: chaeeun🍒

#254 [BOJ] 23-01-17 (queuestack/Silver3)
  chaeeun/BOJ/덱/queuestack.py
Labels: chaeeun🍒

#255 [BOJ] 23-01-18 (일곱 난쟁이/Bronze1)
  chaeeun/BOJ/브루트포스/일곱난쟁이.py
Labels: chaeeun🍒

#256 [BOJ] 23-01-19 (N과 M (1)/Silver3)
  chaeeun/BOJ/백트래킹/N과M(1).py
Labels: chaeeun🍒

#258 [BOJ] 23-01-21 (아카라카/Silver2)
  chaeeun/BOJ/재귀/아카라카.py
Labels: chaeeun🍒

#259 [BOJ] 23-1-22 (N-Queen/Gold4)
  chaeeun/BOJ/백트래킹/N-Queen.py
Labels: chaeeun🍒

#260 [BOJ] 23-01-22 (분해합/Bronze2)
  chaeeun/BOJ/브루트포스/분해합.py
Labels: chaeeun🍒

#261 [BOJ] 23-01-22 (재귀함수가 뭔가요?/Silver5)
  chaeeun/BOJ/재귀/재귀함수가뭔가요?.py
Labels: chaeeun🍒

#262 [BOJ] 23-01-23 (소수 구하기/Silver3)
  chaeeun/BOJ/수학/소수구하기.py
Labels: chaeeun🍒

#263 [BOJ] 23-01-23 (최대공약수와 최소공배수/Bronze1)
  chaeeun/BOJ/수학/최대공약수와최소공배수.py
Labels: chaeeun🍒

#264 [BOJ] 23-01-24 (소인수분해/Bronze1)
  chaeeun/BOJ/수학/소인수분해.py
Labels: chaeeun🍒

#265 [BOJ] 23-01-25 (소수 찾기/Silver5)
  chaeeun/BOJ/수학/소수찾기.py
Labels: chaeeun🍒

#266 [BOJ] 23-01-26 (최소공배수/Silver5)
  chaeeun/BOJ/수학/최소공배수.py
Labels: chaeeun🍒

#267 [BOJ] 23-01-26 (최대공약수/Silver1)
  chaeeun/BOJ/수학/최대공약수.py
Labels: chaeeun🍒

#268 [BOJ] 23-01-27 (피보나치 수 2/Bronze1)
  chaeeun/BOJ/DP/피보나치수2.py
Labels: chaeeun🍒

#269 [BOJ] 23-01-29 (BABBA/Silver5)
  chaeeun/BOJ/DP/BABBA.py
Labels: chaeeun🍒

#270 [BOJ] 23-01-29 (로봇 청소기/Gold5)
  chaeeun/BOJ/시뮬레이션/로봇청소기.py
Labels: chaeeun🍒

#271 [BOJ] 23-01-30 (거스름돈/Bronze2)
  chaeeun/BOJ/그리디/거스름돈.py
Labels: chaeeun🍒

#272 [BOJ] 23-01-31 (회의실 배정/Silver1)
  chaeeun/BOJ/그리디/회의실배정.py
Labels: chaeeun🍒
